<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Add Property Page</title>

</head>
<body  style="background-color:#FFAD32;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Agent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/home/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active"><p class="nav-link">Welcome : <%= user.Firstname %> <%= user.Lastname %></p></li>
            <li class="nav-item active"><p class="nav-link">Email: <%= user.Email %></p></li>
            <li class="nav-item active"><p class="nav-link">Contact: <%= user.contact %></p></li>
            <li class="nav-item active"><a class="nav-link" href="/home/logout">Logout</a></li>
            
                
          </ul>
        </div>
      </nav>

    <div class="box1">
      <div class="wrap" >
       
        <div class="box3" style="margin-bottom: 40px; text-align: center;"> 
          <b style="color: red; text-align: center;">If seller not listed in the list, then first add seller :</b>
         <br> <a href="/agent/add/seller" class="btn btn-primary" style="padding: 15px 40px 15px 40px; margin-top: 10px;">Add Seller</a>
        </div>
        
        <div class="card">

            <div class="card-body box2">
              <strong>Update Property</strong>

              <form  action="../../add/propertyUpdate" method="POST">
              
                <div class="form-group row">
                    <label for="example-bhk-input">P_ID</label>                        
                    <input class="form-control" type="number"  name ="propid" value="<%=curr[0].ID%>" id="example-bhk-input" readonly>
                  </div>

                  <div class="form-group row">
                    <label for="example-date-input">Date</label>
                    <input class="form-control" type="date"  name="date" value="<%=curr[0].L_date%>" id="example-date-input" required>
                  </div>  
                
                  <div class="form-group row">
                  <label  for="inlineFormCustomSelect">Select Seller</label>
                  <select class="custom-select " id="inlineFormCustomSelect" required name ="seller">
                    <option >Choose...</option>
                    <%if(Data.length!=0){
                      Data.forEach(function(data){
                      %>

                     <% if(data.ID != curr[0].o_ID){ %>
                    <option value="<%= data.ID%>" ><%= data.Firstname%> <%= data.Lastname%></option>
                    <% }else{ %>
                    <option value="<%= data.ID%>" selected><%= data.Firstname%> <%= data.Lastname%></option>

                    <% } })} %>
                    
                  </select>
                  </div>

                     
                  <div class="form-group row">
                    <label  for="inlineFormCustomSelect">Property type</label>
                    <select class="custom-select " id="inlineFormCustomSelect"  required name="type">
                      <option  >Choose...</option>
                      <% if(curr[0].P_type) { %>
                        
                        <option selected value="1" >Flat</option>
                      <option value="0">House</option>
                    
                   <% }else{ %>
                    <option  value="1" >Flat</option>
                    <option selected value="0">House</option>
                   <% } %>

                      
                    </select>
                    </div>

                    <div class="form-group row">
                      <label  for="inlineFormCustomSelect">Property Status</label>
                      <select class="custom-select status" id="inlineFormCustomSelect" required name="status">
                        <option name="status">Choose...</option>
                       <% if(curr[0].P_tag) { %>
                        
                            <option selected value="1" name="status">For Rent</option>
                            <option value="0" name="status">For Sale</option>
                        
                       <% }else{ %>
                            <option  value="1" name="status">For Rent</option>
                            <option selected value="0" name="status">For Sale</option>
                       <% } %>
                      </select>
                      </div>
                   

                      <div class="form-group row">
                        <label for="example-bhk-input">BHK</label>                        
                        <input class="form-control" type="number"  name ="bhk" value="<%=curr[0].bhk%>" id="example-bhk-input" required>
                      </div>

                      <div class="form-group row">
                        <label for="example-size-input"  >Size in sq.ft</label>                        
                        <input class="form-control" type="number"  name ="size" value="<%=curr[0].P_size %>" id="example-size-input" required>
                      </div>

                      <div class="form-group row">
                        <label for="example-bth-input"  >Number of Bathrooms</label>                        
                        <input class="form-control" type="number"  name ="bath" value="<%=curr[0].bathrooms %>" id="example-bth-input" required>
                      </div>

                      <% var address = curr[0].adress.split(","); %>
                      <div class="form-group row">
                        <label for="example-text-input1" >House Number/Flat Number</label>
                          <input class="form-control" type="number"  name ="hno"  value="<%=address[0]%>" id="example-text-input1" required>
                      </div>

                      <div class="form-group row">
                        <label for="example-price-input"  >Cost (Rs)</label>                        
                        <input class="form-control" type="number"  name ="cost" value="<%=curr[0].P_sug_price%>" id="example-price-input">
                      </div>

                      <div class="form-group row">
                        <label for="example-text-input2" >Property Name</label>
                        <% if(curr[0].P_type){ %>
                          <input class="form-control" type="text"  name ="pname" value="<%= address[1]%>" id="example-text-input2">
                      <%  }else{ %>
                            <input class="form-control" type="text"  name ="pname" id="example-text-input2">
                       <% } %>
                      </div>

                      <div class="form-group row">
                        <label for="example-text-input2" >Property Desc</label>
                     
                          <input class="form-control" type="text"  name ="pdesc" value="<%=curr[0].P_desc %>" id="example-text-input2">
                   
                      </div>


                      <div class="form-group row">
                        <label for="example-text-input3" >Road</label>
                      
                        <% if(curr[0].P_type){ %>
                            <input class="form-control" type="text"  name ="road" value="<%= address[2] %>" id="example-text-input3" required>
                        <%  }else{ %>
                            <input class="form-control" type="text"  name ="road" value="<%= address[1] %>" id="example-text-input3" required>
                         <% } %>
                             
                        
                        
                      </div>

                      <div class="form-group row">
                        <label for="inputZip">Zip</label>
                        <% if(curr[0].P_type){ %>
                        <input class="form-control" type="text"  name ="zip" id="inputZip" value="<%= address[3] %>" required>
                        <%  }else{ %>
                          <input class="form-control" type="text"  name ="zip" id="inputZip" value="<%= address[2] %>" required>
                          
                        <% } %>
                      </div>

                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                          <label class="form-check-label" for="invalidCheck">
                            Agree to terms and conditions
                          </label>
                          <div class="invalid-feedback">
                            You must agree before submitting.
                          </div>
                        </div>
                      </div>
                   
                    
                    <button class="btn btn-primary" type="submit">Submit form</button>
                    <p style="color: red;"><%= error %></p>
                    </form>
                    </div>
                    </div>
                  
                  <script>
                  // Example starter JavaScript for disabling form submissions if there are invalid fields
                  (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                      // Fetch all the forms we want to apply custom Bootstrap validation styles to
                      var forms = document.getElementsByClassName('needs-validation');
                      // Loop over them and prevent submission
                      var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                          if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                          }
                          form.classList.add('was-validated');
                        }, false);
                      });
                    }, false);
                  })();
                  </script>
     

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>



