<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>view_agent</title>
        <link rel="stylesheet" href="/stylesheets/office.css">
        <style>
            tr{
                background-color: white;
            }
        </style>
    </head>
    <body  style="background-color:#CAFFF4;">
       

            <div class="header ">
                    <span style=" font-weight : 700 ;font-size: 26px; margin-left: 50px; margin-right: 20px;">View <%= tit %>s</span>
                    <a class="head_a" href="/home/dashboardOffice" style=" font-weight : 700 ;margin-left: 20px; margin-right: 20px; text-decoration: none; color: white;">Home</a>
                    <p class="head_a" style=" font-weight : 700 ;margin-left: 20px; margin-right: 20px; text-decoration: none; color: white;">Welcome: <%=user.username%></p>
                    <a class="head_a" href="/home/logoutOffice" style=" font-weight : 700 ;margin-left: 20px; margin-right: 50px; margin-top:10px; float: right; text-decoration: none; color: white;">Logout</a></div>
            
           
            
              
                    
                    <%if(flag === 1 ){   %>
            
            <div class="main"  style="margin : 50px auto 0 auto; width: 80%; height: auto; text-align: center; height: 500px; overflow-y: scroll; ">
                    <div style="width: 100%; text-align: center; height: 50px; padding-top: 10px; font-size: 23px;"><b><%= tit %> List</b></em></div>
                    <br><br> 
                    <table style="width:80%; height: 200px; overflow-y: scroll; margin :auto ;   border-spacing:0 15px;  border-collapse: separate;background-color: lightgrey;border-radius: 10px; box-shadow: 1px 1px 10px 1px; ">
                            

                    
                        <%
                        if(userData.length!=0){
                        var i=1;
                        userData.forEach(function(data){
                        %>
                    <tr>
                        <td><%=data.ID %></td>
                        <td><%=data.Firstname+" "+data.Lastname %></td>
                        <% if(tit === "Agent") { %>
                        <td><a href="/office/report/<%=data.ID%>">Report</a></td>
                        <td><a href="/office/profile/a<%=data.ID%>">Profile</a></td>
                        <% } %>
                        <% if(tit === "Buyer") { %>
                            <td><a href="/office/profile/bO<%=data.ID%>">Profile</a></td>
                        <% } %>
                        <% if(tit === "Seller") { %>
                            <td><a href="/office/profile/sO<%=data.ID%>">Profile</a></td>
                        <% } %>
                    </tr>

                    <%  i++;}) %>
                    <% } else{ %>
                    <tr>
                        <td colspan="4">No Data Found</td>
                    </tr>
                    <% } %>

                </table>
                <br><br>
            </div>

            <% } %>

            <%if(flag === 2 ){   %>

             <div class="main"  style="margin : 50px auto 0 auto; width: 100%; height: auto; text-align: center; height: 500px; overflow-y: scroll; ">
                    <div style="width: 100%; text-align: center; height: 50px; padding-top: 10px; font-size: 23px;"><b><%= tit %> List</b></em></div>
                    <br>
                    <form  <%if(flag1===1){%>action="/office/view/property"<%}else{%>action="/office/view/unlistproperty"<%}%> method="POST" style=" height:70px">
                        <label for="min" style="margin-left: 10px;">Min. Price</label>
                        <input type="text" name="min_price" id="min"  style="border-radius: 4px;  width : 100px;">
                        <label for="max" style="margin-left: 20px; ">Max. Price</label>
                        <input type="text" name="max_price" id="max" style="border-radius: 4px; width : 100px;">
                        <label for="sale" style="margin-left: 20px;">Sale</label>
                        <input type="checkbox" name="sale" id="sale" >
                        <label for="rent" style="margin-left: 20px; " >Rent</label>
                        <input type="checkbox" name="rent" id="rent" >
                        <label for="house" style="margin-left: 20px;">House</label>
                        <input type="checkbox" name="house" id="house" >
                        <label for="aprt" style="margin-left: 20px; " >Apart.</label>
                        <input type="checkbox" name="aprt" id="aprt" >
                        <label for="aid" style="margin-left: 20px; " >Ag.ID</label>
                    <input type="number" name="aid" id="aid" style="border-radius: 4px; width: 50px;">
                    <label for="oid" style="margin-left: 20px; " >Own.ID</label>
                    <input type="number" name="oid" id="oid" style="border-radius: 4px; width: 50px;">
                        <label for="address" style="margin-left: 20px; ">Address</label>
                        <input type="text" name="addres" id="address" style="margin-right: 20px;border-radius: 4px;">
                        <input type="submit" style="padding :5px; background-color:black; color :white; border-radius: 10px; ">
                    </form>
                    <br> 
                    <table style="width:90%; height: 200px; overflow-y: scroll; margin :auto ;   border-spacing:0 15px;  border-collapse: separate;background-color: lightgrey;border-radius: 10px; box-shadow: 1px 1px 10px 1px; ">
                    
                    <tr>
                            <th>P_ID</th>
                            <th>A_ID</th>
                            <th>Own_ID</th>
                            <th>L_date</th>
                            <th>Address</th>
                            <th>Prop. price</th>
                            <th>Prop size </th>
                            <th>BHK</th>
                            <th>Tag</th>
                            <th>Type</th>
                            <%if(flag1===2){%>
                               <th>List Again</th>
                            <%}%>
                            <%if(flag1===1){%>
                                <th>Change Agent</th>
                             <%}%>

                    </tr>
                    <%
                        if(userData.length!=0){
                        var i=1;
                        userData.forEach(function(data){
                    %>
                        <tr>
                            <td><%=data.ID %></td>
                            <td><a href="/office/profile/a<%=data.a_ID%>"><%=data.a_ID %></a></td>
                            <td><a href="/office/profile/sO<%=data.o_ID%>"><%=data.o_ID %></a></td>
                            <td><% var a =  data.L_date.toDateString().substring(4,16);%>
                               <%= a%>   
                            </td>
                            <td><%=data.adress %></td>
                            <td><%=data.P_sug_price %></td>
                            <td><%=data.P_size %></td>
                            <td><%=data.bhk %></td>
                            <td><%if(data.P_tag===1){%> Rent <%} else {%> Sale <% } %></td>
                            <td><%if(data.P_type===1){%> Apartm. <%} else {%> House <% } %></td>
                            <%if(flag1===2){%>
                                <td><div onclick="show('<%=data.ID %>');" style="background-color:black; border-radius: 10px; width: 100px; margin: auto; color: white; cursor: pointer;">
                                    List Again</div>
                                </td>
                                <td><form  id="<%=data.ID %>" style="display: none;" action="/office/view/propertylistagain/<%=data.ID %>" method="POST">
                                    <label for="aid">Ag.ID</label>
                                    <input type="number" name="aid" id="aid" required style="width : 50px">
                                    <input type="submit" >
                                    </form>
                                </td>
                            <%}%>
                            <%if(flag1===1){%>
                                <td><div onclick="show('<%=data.ID %>');" style="background-color:black; border-radius: 10px; width: 100px; margin: auto; color: white; cursor: pointer;">
                                    change agent</div>
                                </td>
                                <td><form  id="<%=data.ID %>" style="display: none;" action="/office/view/propertychangeagent/<%=data.ID %>" method="POST">
                                    <label for="aid">Ag.ID</label>
                                    <input type="number" name="aid" id="aid" required style="width : 50px">
                                    <input type="submit" >
                                    </form>
                                </td>
                            <%}%>
                            
                        </tr>

                    <%  i++;}) %>
                    <% } else{ %>
                    <tr>
                        <td colspan="11">No Data Found</td>
                    </tr>
                    <% } %>
                    

                </table>
                <br><br>
            </div>

            <% } %>

            <script>
                
                function show(i){
                  var x = document.getElementById(i);
                  if(x.style.display=="block")
                     x.style.display="none";
                  else
                  x.style.display="block";
                 }
            </script>

    </body>
</html>